doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Wood Registration
    link(rel='stylesheet' href='css/sales.css')
     //- material icons 
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet")
.sidebar
    h2 MAYONDO INVENTORY MANAGEMENT SYSTEM
    a(href='/')
      span.material-icons-outlined.me-2 home
      | Home

    a(href='/salesReport')
      span.material-icons-outlined.me-2 bar_chart
      | Sales Report

    a(href='/furnitureRegistered')
      span.material-icons-outlined.me-2 view_list
      | View Furniture Stock

    a(href='/woodRegistered')
      span.material-icons-outlined.me-2 inventory_2
      | View Wood Stock

    a(href='/recordfurnitureSale')
      span.material-icons-outlined.me-2 point_of_sale
      | Add Furniture Sale

    a(href='/recordwoodSale')
      span.material-icons-outlined.me-2 shopping_cart
      | Add Wood Sale
    a(href='/logout')
      button.login-btn Login 
    a(href='/logout')
      button.logout-btn Logout

//- div.video-background
//-   video(autoplay muted loop playsinline)
//-     source(src="/videos/furndid.mp4" type="video/mp4")
form#woodForm(action='/woodRegistration' method='post')
        h2 Wood Stock Registration
        label(for='woodName') Wood Name
        select#woodName(name='woodName')
          option(value='') -- Select Wood Name --
          option(value='Mahogany') Mahogany
          option(value='Muvule') Muvule
          option(value='Pine') Pine
          option(value='Teak') Teak
          option(value='Eucalyptus') Eucalyptus

        label(for='woodType') Wood Type
        select#woodType(name='woodType')
          option(value='') -- Select Wood Type --
          option(value='timber') Timber
          option(value='poles') Poles
          option(value='hardwood') Hard Wood
          option(value='softwood') Soft Wood
        
        label(for='woodcolor') Wood Color
        input#woodcolor(type='text' name='woodcolor')

        label(for='measurements') Measurements
        select#measurements(name='measurements')
          option(value='') -- Select Measurement --
          option(value='1.2-1.5mm') 1.2-1.5mm
          option(value='1.6-2mm') 1.6-2mm

        label(for='quality') Quality
        select#quality(name='quality')
          option(value='') -- Select Quality--
          option(value='firstgrade') first grade
          option(value='Mediumgrade') Medium grade
        //- label(for='image') Wood Image
        //- input#image(type='file' name='woodimage' placeholder='upload image')
        label(for='date') Date
        input#date(type='date' name='date' required='')

        label(for='quantity') Quantity
        input#quantity(type='number' name='quantity')

        label(for='supplier') Supplier Name
        input#supplier(type='text' name='supplier')
      
        label(for='contact') Supplier Contact
        input#contact(type='number' name='contact')
        
        label(for='price') Price per Piece (UGX)
        input#price(type='number' name='unitprice' min='1')
        
        label(for='location') Storage Location
        input#location(type='text' name='warehouseLocation')

        button(type='submit') Register
//- script(src='woodreg.js')
