.charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

.charts-card{
background-color: aqua;
margin-bottom: 20px;
padding: 25px;
box-sizing: border-box;
-webkit-column-break-inside: avoid;
box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}

.chart-title{
    display: flex;
    align-items: center;
    justify-content: center;
}